@charset "'UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    background-color: bisque;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header, footer {
    background-color: var(--destaque);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}

ul.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

ul.menu i {
    color: white;
    font-size: 1.1rem;
    height: 100%;
    transition: all 0.5s ease-out;
}

ul.menu a {
    padding: 25% 1rem;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

ul.menu a:hover {
    background-color: var(--destaque-inverso);
}

ul.menu a:hover i {
    color: #0077ff;
}

/* config do main */

main {
    display: grid;
    grid-template: repeat(5, auto) / auto 90vw auto;
    row-gap: 1rem;
    background-color: var(--fundo-principal);
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
}

section {
    scroll-margin-top: 150px;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--fundo-card);
    grid-column: 2;
}

h1, h2, i {
    color: var(--destaque);
    font-size: 1.8em;
} 

#apresentacao i, #minhas-skills i, #formacao i, #projetos i {
    font-size: 0.8em;
    margin-right: 0.5rem;
}

/* card ficha */

#ficha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

#ficha img {
    border-radius: 50%;
    aspect-ratio: 16/16;
    object-fit: cover;
    outline: 5px solid var(--destaque);
    outline-offset: 5px;
    width: 70%;
}

#ficha > h2 {
    align-self: flex-start;
    font-size: 1.8em;
}

#ficha > p {
    word-spacing: 3px;
    line-height: 1.4rem;
}

ul.redessocias {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.5s ease-in;
}

ul.redessocias i{
    transition: all 0.6s ease-out;
}

ul.redessocias i:hover {
    color: var(--destaque-inverso);
}

/* card apresentação */

#apresentacao {
    height: auto;
}

div.video {
    margin-top: 1rem;
    aspect-ratio: 16/9;
}

div.video > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Minhas Skills */

#minhas-skills > h2 {
    margin-bottom: 1rem;
}

div.container-skills {
    display: grid;
    flex-direction: column;
    min-height: auto;
}

div.skill {
    margin-bottom: 2rem;
}

.oq-porcentagem > strong{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

span.porcentagem {
    color: var(--destaque);
}

.barra {
    display: flex;
    width: 100%;
    height: 8px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}

.barra-azul {
    width: 90%;
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 5px;
}

/* config formação e config projetos */

#formacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.bloco, div.projeto {
    position: relative;
    display: flex;
    min-height: auto;
    cursor: pointer;
    z-index: 1;
}

div.bloco:hover .content, div.projeto:hover .content-projeto {
    margin-left: 1.2rem;
    border-radius: 0 10px 10px 0;
}

div.bloco:hover .barra-lateral, div.projeto:hover .lateral-barra {
    background-color: var(--destaque);
}

div.barra-lateral, .lateral-barra {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--destaque-inverso);
    min-height: 100%;
    width: 20%;
    border-radius: 10px 0 0 10px;
}

div.content, div.content-projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 2px 3px 15px;
    z-index: 10;
    border-radius: 10px;
    margin-left: 8px;
    width: 100%;
    min-height: auto;
    background-color: rgb(238, 238, 238);
    transition: all 0.5s ease-out;
}

div.content > h3 {
    color: var(--destaque-inverso);
    font-size: 1.3em;
}

div.content > p.ano {
    font-weight: bold;
    font-style: italic;
}

.content p:nth-of-type(2) {
    font-size: 1.1em;
}

/* config de projetos */

#projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div.content-projeto {
    gap: 5px;
    padding: 10px;
}

.content-projeto > img {
    width: 100%;
    border-radius: 10px;
}

.content-projeto h3 {
    font-size: 1.3em;
}

.content-projeto p {
    font-size: 1.1em;
}


.content-projeto a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.content-projeto span {
    font-size: 1.2em;
}


.add-content {
    display: none;
}


/* config do footer */

footer strong, footer p {
    color: white;
}

footer strong:hover {
    color: var(--destaque-inverso);
}