@charset "'UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

h1, h2 {
    color: var(--destaque);
    font-size: 1.8em;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body, html {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 5vh;
    background-color: var(--destaque);
}

nav.menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

nav.menu ul li a {
    display: block;
}

nav.menu ul li a i:hover {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.322);
    color: var(--destaque);
    transition: color, background, 0.3s ease-in-out;
}

nav.menu ul li a i {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--fundo-principal);
}

section {
    background-color: var(--fundo-card);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    grid-column: 2;
}

section.ficha {
    background-color: var(--fundo-card);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
    grid-column: 2;
}

div.foto > img{
    margin: auto;
    display: block;
    border-radius: 50%;
    outline: 5px solid var(--destaque);
    outline-offset: 0.3rem;
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

div.dadospessoais > h1{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--destaque); 
}

div.dadospessoais > p {
    letter-spacing: 0.01rem;
}

/* video */

section.apresentacao {
    grid-column: 2;
}

section.apresentacao > h2 > i{
    margin-right: 1rem;
}

div.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
    border: 2px solid rebeccapurple;
}

div.video {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}