@media screen and (min-width: 765px){

    main {
        grid-template: repeat(5, auto) / auto 300px 1fr auto;
        column-gap: 10px;
    }

    #ficha {
        position: sticky;
        top: 65px;
        scroll-margin-top: 5rem;
        grid-column: 2;
        height: fit-content;
    }

    #apresentacao {
        margin-top: 1rem;
    }

    #projetos .content-projeto{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .content-projeto > img {
        max-width: 20%;
    }

    section {
        grid-column: 3;
    }

    .container-skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        column-gap: 1rem;
    }
}